.edit-course-container {
    margin: 20px;
}

.edit-course-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-widget-container {
    margin-bottom: 20px;
}

.user-badge-container {
    border: 1px solid black;
    max-width: 20%;
    padding: 5px;
    margin: 5px;
}

