#course{
    min-width: 80vw;
    min-height: 100vh;
    /* border: 1px solid black; */
    margin: 50px;
}

.accordion-button:hover{
    background-color: #66317d;
    color: white;
}

.accordion-body {
    padding: 35px;
    padding-top: 5px;
    /* margin: 25px; */
    margin-top: 5px;
    background-color: rgb(239, 238, 238);
}